@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgb(31, 41, 55) inset;
}
input:-webkit-autofill:focus{
outline: none;
}
input:hover{
    outline:none;
}